<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="shoppingConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString2" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString3" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString4" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString5" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString6" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString7" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString8" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString9" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString10" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString11" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString12" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString13" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString14" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString15" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="shoppingConnectionString16" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=shopping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
  </appSettings>

</configuration>
